body {
   background-image: url('../assets/Background-Image.svg');
  background-size: cover;   
  background-repeat: no-repeat; 
  background-position: center;  
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}



.Title {
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 35px !important;
  
}

.outlined-text {
  color: #D2C882;;
  font-size: 3em;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
     2px  2px 0 #000,
    -2px  2px 0 #000,
    0px -2px 0 #000,
    2px  0px 0 #000,
    0px  2px 0 #000,
   -2px  0px 0 #000;
}